
.box {
    background-color: lavenderblush;
    border: 3px solid black;
    margin: -1.5px;
    flex-grow: 1;
}

.line {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}

.black {
    background-color: black;
}

.container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}