body {
    align-items: center;
    justify-content: center;
}

.box {
    background-color: lavenderblush;
    border: 1px solid black;
    margin: -1.5px;
    flex-grow: 1;
}

.line {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}

.black {
    background-color: black;
}

.container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.btncontainer {
    display: flex;
    justify-content: center;
}